<!DOCTYPE html>
<html>
<head>
  <title>Throrg</title>
  <%= stylesheet_link_tag    "throrg/application", media: "all" %>
  <%= javascript_include_tag "throrg/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
