<!DOCTYPE html>
<html>
<head>
  <title>Lorde</title>
  <%= stylesheet_link_tag    "lorde/application", media: "all" %>
  <%= javascript_include_tag "lorde/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
